.git
Dockerfile
terraform
packer
build.sh
run.sh
pretrained-networks
training-images
training-images-sample
examples
logs
results
logs
*.pyc
*.mat
*.gz
train_simple
networks*
outputs*
*.ckpt.meta
*.ckpt
.DS_Store
COCO_images*
vgg
certs