*.pyc
*.mat
*.gz
train_simple
networks*
pretrained-networks/*
!pretrained-networks/candy-network/
!pretrained-networks/darger3-network/
!pretrained-networks/starry-night-network/
results
outputs*
*.ckpt.meta
*.ckpt
.DS_Store
COCO_images*
training-images
training-images-sample
logs
./certs